<!DOCTYPE html>
<html lang="en">
<head>   
<meta charset="utf-8" /> <title>Benchmark OpenStack </title>      <!-- import plugin script -->   
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<style type="text/css">
	#center-page {
        	margin: auto;
        	width: 50%;
        	text-align: center;
        	border: 3px solid green;
        	padding: 10px;
	}
	
	#right {
    		position: absolute;
    		right: 0px;
    		width: 300px;
    		border: 3px solid #73AD21;
    		padding: 10px;
}
</style>
</head>
<body>
	<div id="center-page">
		<h1> Benchmark in OpenStack of option price solver </h1>
		<h3> Alessandro Piccolo, Andrea Rylander & Abdullah Al Hinai  </h3>
		<p> Results are shown as name of price solver, time and lastly the relative error </p>
		<dl>
			{% for i in results %}
				{% for key, value in i.iteritems() %}
					<dt>{{ key }}</dt>
					<dd>{{ value }}</dd>
				{% endfor %}
			{% endfor %}
		</dl>
	</div>
</body>
</html>

